* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auth-container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    background: linear-gradient(135deg, #2563eb, #1e3a8a);

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.auth-card {
    width: 90%;
    max-width: 1000px;
    height: 80vh;

    background: white;
    border-radius: 20px;
    display: flex;
    overflow: hidden;

    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.left-panel {
  flex: 1;
  background: #ea7e25;
  color: white;
  padding: 40px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-panel h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.left-panel p {
  margin-bottom: 30px;
  line-height: 1.6;
}

.left-panel img {
  width: 220px;
  margin: 0 auto;
}

.right-panel {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-panel h2 {
  text-align: center;
  margin-bottom: 30px;
}

.right-panel input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.right-panel button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.right-panel button:hover {
  background: #1d4ed8;
}

.bottom-text {
  margin-top: 20px;
  text-align: center;
}

.bottom-text a {
  color: #2563eb;
  text-decoration: none;
  font-weight: bold;
}

/* Purane CSS ke niche ise jod dena */
.input-group {
  width: 100%;
  margin-bottom: 15px; /* Input ke niche thodi space */
}

.right-panel input {
  width: 100%;
  padding: 12px;
  margin-bottom: 5px; /* isko 15px se 5px kar diya taaki error thik niche chipke */
  border-radius: 8px;
  border: 1px solid #ddd;
}

.error-msg {
  color: #dc2626; /* Danger Red Color */
  text-align: left;
  font-size: 13px;
  padding-left: 5px;
  font-weight: 500;
  display: block;
}

