.navbar {
    height: 70px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #12100d;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-right input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.nav-right button {
    background: #ff9800;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
}