<div class="auth-container">
  <div class="auth-card">

    <div class="left-panel">
      <h1>Welcome Back</h1>
      <p>Check the Login Page.</p>
      <img src="https://cdn-icons-png.flaticon.com/512/2957/2957276.png" alt="Secure Login" />
    </div>

    <div class="right-panel">
      <h2>Login Page</h2>

      <form [formGroup] = "loginForm" (ngSubmit) = "loginUser()">

        <div class="input-group">
          <input type="email" placeholder="Registered Email (e.g. user@gmail.com)" formControlName="email" />
          <div *ngIf="submitted && f['email'].errors" class="error-msg">
            <small *ngIf="f['email'].errors['required']">Email is required!</small>
            <small *ngIf="f['email'].errors['email']">Please enter a valid email address!</small>
          </div>
        </div>

        <div class="input-group">
          <input type="password" placeholder="Password" formControlName="password" />
          <div *ngIf="submitted && f['password'].errors" class="error-msg">
            <small *ngIf="f['password'].errors['required']">Password is required!</small>
            <small *ngIf="f['password'].errors['minlength']">Password must be at least 8 characters long.</small>
          </div>
        </div>

        <button type="submit">Sign In Securely</button>
      </form>

      <p class="bottom-text">
        New to the bank? 
        <a routerLink="/register">Create an Account</a>
      </p>
    </div>

  </div>
</div>
