/* Remove Full Page Scrollbar */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* Full Page Layout */
.page-layout{
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Contact Container */
.contact-container{
    margin-top: 70px;
    margin-left: 400px;
    display: flex;
    gap: 30px;
    /* TOP-BOTTOM | LEFT-RIGHT */
    padding: 0px 20px;
    /* CENTER CARDS */
    justify-content: center;
    /* MOVE CARDS UP */
    align-items: center;
    flex-wrap: wrap;
    background: #f4f6f9;
    /* LITTLE MORE UP */
    height: calc(100vh - 100px);
    box-sizing: border-box;
    overflow: hidden;
}

/* Hide Scrollbar */
.contact-container::-webkit-scrollbar{
    display: none;
}

/* Cards */
.card{
    background: white;
    width: 400px;
    max-width: 100%;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

/* Card Heading */
.card h2{
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Form Layout */
form{
    display: flex;
    flex-direction: column;
}

/* Inputs */
input,
textarea{
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    box-sizing: border-box;
}

/* Button */
button{
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: #0056b3;
}

/* Reach Us */
.reach-card p{
    margin-bottom: 15px;
    font-size: 16px;
}

/* Map */
.map-container{
    margin-top: 15px;
}

iframe{
    width: 100%;
    border-radius: 10px;
}
