<app-sidebar></app-sidebar>

<div class="main-content">
    <div class="transfer-box">
        <h2>Instant Fund Transfer</h2>
        
        <form (ngSubmit)="transferMoney()">
            
            <label>Source Account ID (Your Account)</label>
            <input
              type="number"
              [value]="transferData.senderAccountId"
              readonly
              disabled
              placeholder="Sender Account ID">

            <label>Recipient Account ID</label>
            <input
              type="number"
              placeholder="Enter Destination Account ID"
              [(ngModel)]="transferData.receiverAccountId"
              name="receiverAccountId"
              required>

            <label>Transfer Amount (₹)</label>
            <input
              type="number"
              placeholder="Enter Amount to Authorize"
              [(ngModel)]="transferData.amount"
              name="amount"
              required>

            <button type="submit">
              Confirm & Pay Securely
            </button>
            
        </form>
    </div>
</div>

